body {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
  background-color: lightgray;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 5px;
  margin-inline: 10px;
  padding: 2px;
}

header {
  background-color: rgb(30, 30, 30);
  padding: 20px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom: 2px solid lightgray;
  width: 800px;
}

h1 {
  text-align: center;
  color: greenyellow;
}
.inputCnt {
  display: flex;
  justify-content: space-evenly;
}
label {
  color: greenyellow;
}

#botaoCalcular {
  border: none;
  background-color: greenyellow;
  border-radius: 8px;
}

main {
  width: 800px;
  justify-content: space-evenly;
  background-color: rgb(60, 60, 60);
  padding: 20px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  height: auto;
}

.resultadoCnt {
  width: 100%;
  max-width: 241px;
  background-color: rgb(60, 60, 60);
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
}

.calculoRotulo {
  color: #6980d6;
  margin: 0px;
}

.resultado {
  color: white;
  font-size: 2em;
}
